@font-face {font-family: 'Regular-Bold';src: url('/font/Regular-Bold.eot');src: url('/font/Regular-Bold.eot?#iefix') format('embedded-opentype'),
url('/font/Regular-Bold.svg#Regular-Bold') format('svg'),url('/font/Regular-Bold.woff') format('woff'),url('/font/Regular-Bold.ttf') format('truetype');
font-weight: normal;font-style: normal;}

@font-face {font-family: 'Regular-Regular';src: url('/font/Regular-Regular.eot'); src: url('/font/Regular-Regular.eot?#iefix') format('embedded-opentype'),
url('/font/Regular-Regular.svg#Regular-Regular') format('svg'),url('/font/Regular-Regular.woff') format('woff'),
url('/font/Regular-Regular.ttf') format('truetype'); font-weight: normal;font-style: normal;}

html,
body,
#viewDiv {
	position: absolute;
	top: 0;
	left: 0;
  font-family: "Regular-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(#b6c3cc, #6aa5cc);
}

#loading {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	z-index: 900;
}

/*
    background-image:url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 12 50%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cpath fill=%22none%22 stroke=%22grey%22 line-width=%222%22 stroke-width=%222%22 stroke-linejoin=%22round%22 d=%22M1,49L9,25 1,1%22 /%3E%3C/svg%3E');
*/

#legDivCloser {
	background-repeat: no-repeat;
	background-size: 10px 50px;
	background-position: 60% 40%;
	background-color: #f8f8f8;
	position: absolute;
	z-index: 900;
	padding: 2px;
	margin: 0;
	right: 4px;
	top: 12px;
	height: 56px;
	width: 12px;
}

#legDivCloser.opened {
    background-image:url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 12 50%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cpath fill=%22none%22 stroke=%22grey%22 line-width=%222%22 stroke-width=%222%22 stroke-linejoin=%22round%22 d=%22M1,49L9,25 1,1%22 /%3E%3C/svg%3E');
}

#legDivCloser.closed {
    background-image:url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 12 50%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cpath fill=%22none%22 stroke=%22grey%22 line-width=%222%22 stroke-width=%222%22 stroke-linejoin=%22round%22 d=%22M9,49L1,25 9,1%22 /%3E%3C/svg%3E');
}

/*
@media (max-width: 430px) {
	#legDivCloser {
		top: 48px;
	}	
	#legDiv {
		top: 48px;
	}	
} */


#legendctrl {
	display: table;
	background-color: rgba(24, 68, 155, 0.85);
	box-shadow: 0 1px 5px rgba(0,0,0,1);
	color: #fff;
	font-size: 14px;
	position: absolute;	
	right: 0;
	top: 16px;
	z-index: 20;
	padding: 2px 8px 5px 8px;
	width: 260px;
	height: 300px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#legendctrl table {
	 border-collapse: collapse;
}

#legendctrl td {
	/* padding: 0; */
	margin: 0;
}

#legendctrl td + .visctrl-subentry {
	padding-left: 8px;
}

#visctrl {
	background-color: rgba(24, 68, 155, 0.85);
	box-shadow: 0 1px 5px rgba(0,0,0,1);
	color: #fff;
	font-size: 14px;
	position: absolute;	
	left: 0;
	bottom: 20px;
	z-index: 1;
	padding: 2px 8px 5px 8px;
	width: 140px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.visctrl-h1 {
	font-family: "Regular-Bold";
	margin-top:8px; 
	margin-bottom:0;	
	font-size: 1.2em;
}

.visctrl-h2 {
	margin-bottom:6px;  
	margin-top:4px;
}

.visctrl-entry {
	font-family: "Regular-Bold";
	padding-bottom: 2px;
	padding-top: 8px;
	padding-left: 2px;
	font-size: 1em;
	cursor: pointer;
}

.visctrl-nofeats {
	color: #909090;
}

.visctrl-classimg {
	cursor: pointer;
}

.visctrl-entry .viz {
    background-image: url("../media/viz_white.png") !important;
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: 0 30%;
	margin-right: 8px;
    height:16px;
    width: 12px; 
	float: left;
}

.visctrl-entry .inviz {
    background-image: url("../media/not_viz_white.png") !important;
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: 0 30%;
	margin-right: 8px;
    height:16px;
    width: 12px; 
	float: left;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}


 /* Position tooltip  */
.tooltip-left[data-tooltip]:before {
  position: absolute;
  left: -100%;
  top: 50%;
  background-image:url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 200 24%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cpath fill=%22hsla(0, 0%, 20%, 0.9)%22 stroke=%22white%22 stroke-width=%222%22 stroke-linejoin=%22round%22 d=%22M 2,2 v 20 h 190 v -14 l 6,-6 z%22 /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  height: 24px;
  width: 200px;
  padding-top: 4px;
}

/* tooltip content */
[data-tooltip]:before {
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


#gridDiv {
	background-color: rgba(24, 68, 155, 0.85);
	color: white;
	position: absolute;
	z-index: 900;
	padding: 10px;
	right: 20px;
	bottom: 30px;
	width: 485px;
	box-shadow: 0 3px 8px rgba(0,0,0,0.6);
}

#gridDiv img {
	float: right;
	width: 22px;
}



@media (max-width: 430px) {
	#gridDiv h2 {
	  font-size: 18px;
	  margin-bottom: 6px;
	}	
}

#clearButton {
	margin-top:5px;
	display: none;
}

#mainmsg {
	font-size: 18px;
	line-height: 1.2em;
}

@media (max-width: 430px) {
	#mainmsg {
		font-size: 16px;
		line-height: 1.1em;
		margin: 4px 0 4px 0;
	}	
}


#titlearea {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20% 0 0 -30%;
	height: 80px;
	background-color: rgba(24, 68, 155, 0.85);
	box-shadow: 0 1px 5px rgba(0,0,0,1);
	font-family: "Regular-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 24px;
	text-align: center;
	z-index: 1;	

}

#titlearea p {
	margin: 20px 20px 0 20px;
	font-size: 36px;	
}	

#logofloater {
	position: absolute;
	/*top: 12px;
	left: 60px;
	width: 130px;*/
	font-family: 'Regular-Bold';	
	font-size: 36px;
	z-index: 20;
	width: 800px;
}

#logofloater img {
	float:left;
}

#logofloater div {
	float:left;
	margin-left: 20px;
	color: #FFF;
}

.unselectable {
	user-select: none;
   -khtml-user-select: none;
   -o-user-select: none;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
}

.nobull {
	list-style-type: none;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.just-right {
	margin-left: auto;
}

.just-left {
	margin-right: auto;
}

.attrs-list {
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #999;
	padding-left: 8px;
	line-height: 1.3em;
}

@media (max-width: 430px) {
	.attrs-list {
		font-size: 14px;
		line-height: 1.1em;
	}	
}

.attrs-list td {
	padding-top: 0;
	padding-bottom: 0;
	width: 190px;
}

.attrs-list td + td {
	padding-top: 0;
	padding-bottom: 0;
	width: 260px;
}

.attrs-list tr:nth-child(even) { 
	background-color: #90909040; 
}

.graybtn {
	background-color: #90909040;
	border: none;
	font-size: 14px;	
	font-family: "Regular-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.3em;
}

.graybtn button {
    background: transparent;
    border: none;   
}

.navdiv {
	border-bottom: #d2d0d0 1px dotted;
	padding-bottom: 10px;
}

.pagenavdiv {
	border-top: #d2d0d0 1px dotted;
	padding-top: 10px;
}

.recnav-container {
    width: 160px;
    margin-left: auto;
}

.larger-button-pagenav-left {
    width: 160px;    
}

.larger-button-pagenav-right {
    width: 160px;    
    margin-left: auto;
    padding-left: 20px;
}

.larger-button-pagenav-right div {
   float: left;    
}

#rec-nav-nums {
    float: left;
}

.right-arrow {
    padding-top: 5px;
}

.right-arrow div {
    background-image:url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cpath fill=%22%23cccccc%22 stroke=%22white%22 line-width=%222%22 d=%22M0,10L10,5 0,0 z%22 /%3E%3C/svg%3E');
    height:8px;
    width:8px; 
}

.left-arrow {
    float: left;
    padding-top: 5px;
}

.left-arrow div {
    background-image:url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cpath fill=%22%23cccccc%22 stroke=%22white%22 line-width=%222%22 d=%22M10,0L0,5 10,10 z%22 /%3E%3C/svg%3E');
    height:8px;
    width:8px; 
}

#loc_content {
    margin: 0;
    position: absolute;
    z-index: 900;
    top: 12px;
}

#loc_content input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-radius: 0;
	-webkit-border-radius: 0;
    width: 400px;
    font-size: 16px;
    height: 28px;
    line-height: 34px;
    display: inline-block;
    vertical-align: top;
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 12%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Ccircle fill=%22none%22 stroke=%22gray%22 cx=%225%22 cy=%224.6%22 r=%224%22 /%3E %3Cpath fill=%22none%22 stroke=%22gray%22 line-width=%222%22 d=%22M1,11.6L3.2,8.1%22 /%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: 98% 33%;
}

#loc_cleansearchbtn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	float: right;
	background-color: #fff;
	/* background-color: rgb(230, 240, 230); */
	color: #000;
    height: 28px;
	 width: 90px;
	padding: 5px 4px 3px 4px;
	margin: 0;
	font-family: "Regular-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	z-index: 1000;
	cursor: pointer;
	text-align: center;
	border: 1px #95d8e5 solid;
	border-radius: 0;
	vertical-align: top; 

}

.hovering:hover {
    background-color: #eee;
}

#loc_resultlistarea {
	background-color: #fff;
	border: 1px solid #eee;
	width: 400px;
	position: absolute;
	z-index: 1000;
	font-family: "Regular-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
	/* overflow:hidden; 
	padding:10px; 
	margin:-5px -20px -5px -5px; */
}
#loc_resultlistarea td {
	width: 1px;
}
#loc_resultlistarea td + td {
	width: 399px;
}

#msgsdiv {
	font-family: "Regular-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
	position: absolute;
	/* left: 200px; */
	top: 50px;
	background-color: rgba(255, 255, 255, 0.86);
	color: #000;
	/* width: 400px; */
	padding: 12px 18px 12px 16px;
	margin: 0;
	font-size: 14px;
	z-index: 1000;
	text-align: left;
	box-shadow: 0 3px 14px rgba(0,0,0,0.6);
}

#msgsdiv img {
	padding-top: 6px;
	padding-right: 14px;
	display: block;
	float: left;
    margin: 20px 10px 10px 16px;
}

#msgsdiv p {
	font-size: 1.2rem;
}

@media (max-width: 430px) {
	#msgsdiv p {
		font-size: 0.9rem;
	}	
}

#indicators {
	position: absolute;
	bottom: 40px;
	z-index: 1000;
}

#sclvaldiv {
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
	width: 125px;
	height: 12px;
	padding: 4px 4px 4px 4px;
	margin: 0;
	font-size: 12px;
	text-align: right;
	cursor: pointer;
}

#mouseposdiv {
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
	width: 125px;
	height: 12px;
	padding: 4px 4px 4px 4px;
	margin: 5px 0 0 0;
	font-size: 12px;
	text-align: right;
}

#sourcetag {
	visibility: visible;
	background-color: rgba(24, 68, 155, 0.6);
	color: #fff;
	font-size: 0.8rem;
	position: absolute;	
	right: 0;
	bottom: 0;
	width: 620px;
	z-index: 20;
	text-align: center;
}

@media (max-width: 430px) {
	#sourcetag {
		visibility: hidden;
	}
}

